<!DOCTYPE html>
<html>
 <head>
   <script src="../environment.js" type="text/javascript"></script>
 </head>
  <body ng-app="r2_iris_clearance_app">
    <div style="position: fixed;top: 0px; left: 0px;width: 100%;height: 100%;z-index:99;" ng-if="notifications.length">
      <div style="margin: 0px auto;width: 50%;" dismiss-on-timeout='5000' uib-alert ng-repeat="post in notifications" ng-class="'alert-' + (post.type || 'warning') + ' fade in' " close="close($index)">{{post.msg}}</div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="col-md-10">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
